.formWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 736px;
  height: 54px;
  left: calc(50% - 736px / 2);
  top: 173px;
}

.inputTask {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 8px;
  width: 638px;
  height: 54px;
  background: #262626;
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 1;
  color: var(--gray-200);
}

.inputTask::placeholder {
  color: var(--gray-300);
}

.createTask {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  gap: 5px;
  padding: 16px;
  width: 90px;
  height: 52px;
  background: #1e6f9f;
  border-radius: 8px;
  flex: none;
  flex-grow: 0;
  color: var(--white);
  cursor: pointer;
  outline: none;
}

.createTask:hover {
  background: var(--purple-dark);
}

@media (max-width: 767px) {
  .formWrapper {
    width: 100%;
    left: 0;
    padding: 0 16px;
  }

  .inputTask {
    width: calc(100% - 90px - 8px);
  }
}
